[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
httpx = "*"
keyring = "*"
python-jose = "*"
packaging = "*"

[dev-packages]
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"

[requires]
python_version = "3.13"
